################################
# System-specific configuration

JDK6_HOME=/Library/Java/JavaVirtualMachines/1.6.0_37-b06-434.jdk/Contents/Home/
JDK7_HOME=/Library/Java/JavaVirtualMachines/jdk1.7.0_60.jdk/Contents/Home/
JDK8_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_11.jdk/Contents/Home/

################################










################################
# grep aliases
alias g='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
################################



################################
# less' stuff

# highlight support for less (requires source-highlight to be brew installed)
export LESSOPEN="| /usr/local/bin/src-hilite-lesspipe.sh %s"
alias less='less -R'

# some ls aliases
alias ls='ls -G' # color, the GNU way. The BSD way (non-GNU coreutils) is 'ls -G'
alias ll='ls -alFG'
alias la='ls -AG'
alias l='ls -CFG'
################################



################################
# Directory navigation

alias ..='cd ..'

# move up directories quickly
up ()
{
  [ "$#" -eq 1 -a "$1" -gt 0 ] || { echo 'Usage: up <number of directories up>'; return 1; }

  up=""
  for (( i = 1; i <= $1; i++));
  do 
    up="$up../"
  done
  cd $up 
}

mkd() {
  mkdir "$1" &&
  cd "$1"
}
################################



################################
# some git/tig aliases

alias hlog='git log --date-order --all --graph --format="%C(green)%H %Creset%C(yellow)%an%Creset %C(blue bold)%ar%Creset %C(red bold)%d%Creset %s"'
alias xlog='git log --date-order --graph --format="%C(green)%h %Creset%C(yellow)%an%Creset %C(blue bold)%ar%Creset %C(red bold)%d%Creset %s"'
alias g-co='git checkout'
alias g-cm='git commit'
alias g-cm-a='git commit --amend'
alias g-pl='git pull'
alias g-ps='git push'
alias g-sh='git show'
alias t-s='tig status'
################################



################################
# some gradle aliases

alias gr='./gradlew'
alias gr-b='./gradlew build'
alias gr-bl='./gradlew build && ls -l build/libs'
alias gr-e='./gradlew eclipse'
alias gr-i='./gradlew idea'
alias gr-di='./gradlew dependencyInsight --dependency'
################################



################################
# npm
alias ns='npm start'
alias ni='npm install'
################################



################################
# search commands

f()   {	find . -iname "*$1*" }
fll() { find . -name "*$1*" | xargs ls -ld }

mdfh() { mdfind -onlyin . 'kMDItemTextContent == "'$1'"' ;}
################################



################################
# commands on list files

fnddups() { cat $@ | sort | uniq -d }

################################



################################
# Java symlinking


JDK_SYMLINK_PATH="${HOME}/java_home"

relink_java_home() { rm -rf "$JDK_SYMLINK_PATH"; ln -s "$JAVA_HOME" "$JDK_SYMLINK_PATH" }
jdk6() { export JAVA_HOME="$JDK6_HOME"; relink_java_home }
jdk7() { export JAVA_HOME="$JDK7_HOME"; relink_java_home }
jdk8() { export JAVA_HOME="$JDK8_HOME"; relink_java_home }


export JAVA_HOME="$JDK_SYMLINK_PATH"
#relink_java_home
export PATH=$JDK_SYMLINK_PATH/bin:$PATH

################################



################################
# misc

alias c='clear'

################################
