################################
# System-specific configuration

JDK6_HOME=/Library/Java/JavaVirtualMachines/1.6.0_65-b14-462.jdk/Contents/Home/
JDK7_HOME=/Library/Java/JavaVirtualMachines/jdk1.7.0_60.jdk/Contents/Home/
JDK8_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_11.jdk/Contents/Home/

################################










################################
# grep aliases
alias g='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
################################



################################
# less' stuff

# highlight support for less (requires source-highlight to be brew installed)
export LESSOPEN="| /usr/local/bin/src-hilite-lesspipe.sh %s"

alias less='less -R'
alias lesS='less -RS'
################################



################################
# some ls aliases
alias ls='ls -G' # color, the GNU way. The BSD way (non-GNU coreutils) is 'ls -G'
alias ll='ls -alFG'
alias la='ls -AG'
alias l='ls -CFG'
################################



################################
# Directory navigation

alias ..='cd ..'

# move up directories quickly
up ()
{
  [ "$#" -eq 1 -a "$1" -gt 0 ] || { echo 'Usage: up <number of directories up>'; return 1; }

  up=""
  for (( i = 1; i <= $1; i++));
  do 
    up="$up../"
  done
  cd $up 
}

mkd() {
  mkdir "$1" &&
  cd "$1"
}
################################



################################
# some git/tig aliases

alias hlog='git log --date-order --all --graph --format="%C(green)%H %Creset%C(yellow)%an%Creset %C(blue bold)%ar%Creset %C(red bold)%d%Creset %s"'
alias xlog='git log --date-order --graph --format="%C(green)%h %Creset%C(yellow)%an%Creset %C(blue bold)%ar%Creset %C(red bold)%d%Creset %s"'
alias g-co='git checkout'
alias g-cm='git commit'
alias g-cm-a='git commit --amend'
alias g-pl='git pull'
alias g-ps='git push'
alias g-sh='git show'
alias g-st='git stash'
alias g-st-p='git stash pop'
alias g-mg='git merge'

alias t-s='tig status'
################################



################################
# some gradle aliases

alias gr='./gradlew --daemon'
alias gr-b='./gradlew --daemon build'
alias gr-bl='./gradlew --daemon build && ls -l build/libs'
alias gr-e='./gradlew --daemon eclipse'
alias gr-i='./gradlew --daemon idea'
alias gr-di='./gradlew --daemon dependencyInsight --dependency'
alias gr-ob='open build.gradle'

# pt-specific
alias gr-pv='./gradlew printVersion'

################################



################################
# npm
alias ns='npm start'
alias ni='npm install'
################################



################################
# search commands

function f()   {	find . -iname "*$1*"; }
function fll() { find . -name "*$1*" | xargs ls -ld; }

mdf() { mdfind -onlyin . 'kMDItemTextContent == "'$1'"' }
mdfx() { PATTERN=$1 ; shift ; mdfind -onlyin . 'kMDItemTextContent == "'$PATTERN'"' | xargs $@ "$PATTERN" }
mag() { mdfx $1 ag }
################################



################################
# commands on list files

function fnddups() { cat $@ | sort | uniq -d; }

################################



################################
# Java symlinking


JDK_SYMLINK_PATH="${HOME}/java_home"

function relink_java_home() { rm -rf "$JDK_SYMLINK_PATH"; ln -s "$JAVA_HOME" "$JDK_SYMLINK_PATH"; }
function jdk6() { export JAVA_HOME="$JDK6_HOME"; relink_java_home; }
function jdk7() { export JAVA_HOME="$JDK7_HOME"; relink_java_home; }
function jdk8() { export JAVA_HOME="$JDK8_HOME"; relink_java_home; }


export JAVA_HOME="$JDK_SYMLINK_PATH"
#relink_java_home
export PATH=$JDK_SYMLINK_PATH/bin:$PATH

################################




################################
# misc

alias c='clear'

# Utility function to make random passwords
# from http://www.cyberciti.biz/faq/linux-random-password-generator/
genpasswd() {
  local len=$1
  if [[ $len == "" ]]; then
    len=16
  fi
  tr -dc A-Za-z0-9_ < /dev/urandom | head -c ${len} | xargs
}

# Utility function to open the specified port
openport() {
  echo sudo iptables -A INPUT -p tcp --dport $1 -j ACCEPT
  sudo iptables -A INPUT -p tcp --dport $1 -j ACCEPT
}

################################
