# Ignore everything
*

# But not these files...
!.gitignore
!.zsh
!.zshrc
!.aliases
!bin
!bin/[^.]*
!bin/*.sh
!bin/setup
!bin/setup/*.sh
!notes
!notes/*
!java_home
!java_home/.gitignore

# ...even if they are in subdirectories
#!*/
