# Ignore everything
*

# But not these files...
!.gitignore
!.vimrc
!.zsh
!.zshrc
!.profile
!.zprofile
!.aliases
!bin
!bin/[^.]*
!bin/*.sh
!bin/setup
!bin/setup/*.sh
!notes
!notes/*

# ...even if they are in subdirectories
#!*/
