# Ignore everything
*

# But not these files...
!.gitignore
!.zsh
!.zshrc
!.profile
!.aliases
!.vimrc
!bin
!bin/[^.]*
!bin/*.sh

!cygwin_utils/create_installer.sh


# ...even if they are in subdirectories
#!*/
